<%- include('partials/header'); -%>
    <h1>About</h1>

    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde animi dignissimos voluptate, optio commodi
        accusamus
        quia nam sapiente doloremque at! Fuga iste illo aspernatur quis sapiente nihil placeat ex et.
        Blanditiis at id aperiam sint qui magnam? Commodi unde voluptate dolore harum dolorum laborum impedit iste hic
        excepturi temporibus voluptas enim et eum vitae, iusto praesentium accusamus quas quasi minus!
    </p>
    <%- include('partials/footer'); -%>